<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO List</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <h1>TODOアプリ</h1>
  
    <form v-on:submit.prevent>
      タスク名:
      <input type="text" v-model="newItem">
      <!-- newMinsの扱いがわからない -->
      推定時間:
      <input type="text" v-model="newMins">
      <button v-on:click="addItem">追加</button>
    </form>

    <!-- 配列todo内をリスト表示 -->
    <ul>
      <li v-for="todo in todos">{{todo.item}}</li> 
    </ul>
  
    <!-- デバッグ -->
    <pre>{{ $data }}</pre> 
  
  </div>
  <script>
    // const items = [
    //     {
    //       item: '予習',
    //       mins: 30
    //     },
    //     {
    //       item: '学習',
    //       mins: 60
    //     },
    //     {
    //       item: '復習',
    //       mins: 30
    //     },
    //   ]
    var app = new Vue({
      el: '#app',
      data: {
        newItem: "",
        todos: []
      },
      methods: {
        addItem: function (event) {
          //alert();
          if (this.newItem == '') return; //タスク未入力の場合は追加しない
          var todo = {
            item: this.newItem
          };
          this.todos.push(todo); //todoを配列todosに入れる
          this.newItem = '' //タスク追加後クリア
        }
      }
    })
  </script>
</body>
</html>